

body {
  position: relative;
}

header .logo {
  height: 2.5em;
  margin-right: 1em;
}

header h1 {
  font-size: 3.5em;
  color: #EDF2F4;
}

h1 {
  color: #EDF2F4;
  text-align: center;
  font-size: 2.5em;
}


nav ul li {
  display: block;
  border: 1px solid black;
  padding: 0.3em;
}


.section {
  position: relative;
  width: 100%;
}



.container p {
  width: 30%;
}

.container .song-container {
  max-width: 1000px;
}

#selector {
  float: right;
  width: 10%;
}



.album-art {
  margin: 2em 2em;
  height: 300px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-size: 100% 100%;

}




#friendly_display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#friendly_display .friendly_songs {
  border: 2px solid black;
  border-radius: 15px;
  margin: 0.5em;
  overflow: hidden;
  margin-bottom: 1em;
  -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.452);
          box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.452);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
}

#friendly_display .friendly_songs h2 {
  width: 100%;
  padding: 0.75em;
}

#friendly_display .friendly_songs p {
  width: 100%;
  padding: 0.25em;
}

.button {
  float: right;

}

