artist_n, song_name{color: blue; font-style: italic; font-size: 20pt
; font-weight:bold;background-color:red;}
genre,release_date{padding: 10px;display:block;color:green;font-style:italic;background-color:yellow;font-size:10pt;}